.body{
	margin:0%;
	padding: 0%;

}
.outer-panel{
	width: 60%;
	padding:0% 7%;
	background-color: rgba(0,0,0,0.059);
}
.container{
	display: flex;
	justify-content: center;
}
.inner-panel{
	background-color: rgba(255,255,255,0.55);
	box-shadow: 1px 2px 10px rgba(0,0,0,0.34);
}
p{
	font-size: 12px;
}

button{
	font-size: 13px !important;
}

.circle{
	width: 80%;
	height: 80%;
	border-radius: 100%;
	margin: 10%;
	text-align: center;
	padding-top: 12px;


}

@media only screen and (max-device-width: 425px){
	.outer-panel{
		width: 100%;
		padding: 0 3%;
	}
	.title-text{
		padding-top: 5%;
	}
}